version: '3'
include: 
  - ./config/backend/docker-compose.yaml
  - ./config/frontend/docker-compose.yaml
services:
  reverse-proxy:
    image: traefik:2.5
    command: --api.insecure=true --providers.docker=true --entrypoints.web.address=:80
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
  mongodb_seed:
    image: bitnami/mongodb:4.2
    volumes:
      - "./seed_db/seed:/seed"
      - "./seed_db/mongo_import.sh:/mnt/mongo_import.sh"
    command: 
      - "sh"
      - "-c"
      - "chmod u+x /mnt/mongo_import.sh && /mnt/mongo_import.sh"
    user: "0:0"
    depends_on:
      - mongodb
    restart: on-failure
  mongodb:
    image: bitnami/mongodb:4.2
    volumes:
      - "mongodb_data:/bitnami"
  search-api:
    image: dacat/panosc-search-api:latest
    depends_on:
      - backend
    labels:
      - "traefik.http.routers.panosc-search-api.rule=PathPrefix(`/panosc-api`, `/panosc-explorer`)"
      - "traefik.http.routers.panosc-search-api.entrypoints=web"
    environment:
      BASE_URL: "http://backend:3000/api/v3"
      FACILITY: "SAMPLE-SITE"
volumes:
  mongodb_data:
    driver: local
