services:
  frontend:
    image: ghcr.io/scicatproject/frontend:v4.4.0
    depends_on:
      backend:
        condition: service_healthy
    volumes:
      - ./config:/config
    command:
      - sh
      - -c
      - /config/init.sh && nginx -g "daemon off;"
    environment:
      BE_VERSION: ${BE_VERSION:-v4}
    labels:
      - traefik.http.routers.frontend.rule=Host(`${FE_HOST}`)
      - traefik.http.routers.frontend.entrypoints=${ROUTER_ENTRYPOINTS}
